@model Kings.Models.ManageViewModels.Kingdom

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Kingdom</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.KingID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.KingID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Citizen)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Citizen)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Gold)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Gold)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastUpdated)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastUpdated)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
