@model IEnumerable<Kings.Models.ManageViewModels.Kingdom>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
<h2>Welcome @User.Identity.Name</h2>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.KingID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Citizen)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Gold)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastUpdated)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.KingID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Citizen)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Gold)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastUpdated)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
