@model IEnumerable<Kings.Models.ManageViewModels.Kingdom>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
<h2>Welcome @User.Identity.Name</h2>

<p>
    <a asp-action="KingdomOverview">Kindom Overview Page!</a>
</p>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.KingID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Citizen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gold)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastUpdated)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr id="kingdomtable">
                <td>
                    @Html.DisplayFor(modelItem => item.KingID)
                </td>
                <td id="citizen">
                    @Html.DisplayFor(modelItem => item.Citizen)
                </td>
                <td id="gold">
                    @Html.DisplayFor(modelItem => item.Gold)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastUpdated)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a> |
                    <a asp-action="UpdateResourcesAsync" asp-route-id="@item.ID">Calculate Gold</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<!-- jquery link -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script> 
    //works but does not upate all rows only the first one. This does not consider the citizen count either.
    function updategold() {
        $(gold).each(function () {
            //converts string to int
            goldvalue = parseInt($(this).text())
            var updatedgold = goldvalue + 1;
            //sets the text equal to the new value
            $(this).text(updatedgold);

        });
    }

    function updategold2() {
        //finds each table with id kingdomtable
        $('tr#kingdomtable').each(function () {
            //TODO: This is not working. I want to target each row then extract the citizen value and gold value in the same row.
            $('td').each (function () {
                var citizen = parseInt($('td#citizen').html())
                console.log(citizen);
                //alert(citizen);

                //makes sure citizen is a number
               // if (isNaN(citizen) == 'false') {
                    //converts string to int
               //     goldvalue = parseInt($('td#gold').html())
               //     var updatedgold = goldvalue + citizen;
                    //sets the text equal to the new value
               //     $('td#gold').html(updatedgold);
               // }
            });
        });
    }

    setInterval(function () {
        //updategold();
        updategold2();
    }, 1000);

</script>